<% @photos.each do |photo| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="<%= photo.image.file.filename %>" src="<%= photo.image %>" style="width: 300px; height: 200px;">
      <div class="caption thumbnail-caption">
        <h4><%= photo.image.file.filename %></h4>
        <p>
          <small>
            <span class="text-primary"><strong>Overlay Text:</strong></span>
            <% if photo.overlay_text %>
              <span class="text-muted"><%= photo.overlay_text %></span>
            <% else %>
              <span class="text-muted">None</span>
            <% end %>
          </small>
        </p>
        <p>
          <small>
            <span class="text-primary"><strong>Ratio:</strong></span>
            <% if photo.aspect_ratio_x %>
              <span class="text-muted"><%= photo.aspect_ratio_x %> x <%= photo.aspect_ratio_y %></span>
            <% else %>
              <span class="text-muted">None</span>
            <% end %>
          </small>
        </p>
        <div class="pull-right pull-down">
          <%= link_to 'Edit', edit_photo_path(photo), class: 'thumbnail-btn btn btn-primary', role: 'button' %>
          <%= link_to "Delete", photo_delete_path(photo), remote: true, class: "thumbnail-btn btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
